<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/basic">

	<div layout:fragment="content">
	    <section class="bg-light">
	      <div class="container">
	      	
			<!--  Modal -->
	       	<div id="joinModal" class="modal fade" role="dialog">
	       		<div class="modal-dialog">
	       			<!--  Modal content -->
	       			<div class="modal-content">
	       				<div class="modal-header">
	       					<h4 class="modal-title">아프면찾아조</h4>
	       					<button onclick="closeModal()" style="border:0; background-color:#FFF">X</button>
	       				</div>
	       				
	       				<div class="modal-body" id="existUser">
           					<label id="modalLabel" style="display: block; text-align: center; "> 이미 가입된 회원입니다. </label>
           					<button class="btn btn-info" th:onclick="location.href='/user/loginForm.do';" style="float: right;">확인</button>
	       				</div>
	       				
	       				<div class="modal-body" style="margin-bottom:50px;" id="newUser">
           					<label id="modalLabel" style="display: block; text-align: center;">가입 방식을 선택하세요.</label>
	       					<form id="joinMethod">
	       						<div class="social-singup-wrap">
	                               <button type="button" class="socialBtn main-login-btn" th:onclick="joinMethod('main')"><img src="/assets/img/main-logo.png" alt="메인로그인"></button>
	                               <button type="button" class="socialBtn naver-login-btn" th:onclick="joinMethod('naver')"><img src="/assets/img/naver-logo.png" alt="네이버로그인"></button>
	                               <button type="button" class="socialBtn kakao-login-btn" th:onclick="joinMethod('kakao')"><img src="/assets/img/kakao-logo.png" alt="카카오로그인"></button>
	                               <button type="button" class="socialBtn google-login-btn" th:onclick="joinMethod('google')"><img src="/assets/img/google-logo.png" alt="구글로그인"></button>
                             	</div>
                            </form>
	       				</div>
	       			</div>
	       		</div>
	       	</div>
	
	        <div class="join-form-wrap">
	          <!-- 회원가입 폼 -->
	            <h4>- 필수 항목 입력</h4>
	            
	            <input type="hidden" id="inputPw" value="${oAuth2User.pw}">
	            
	            <th:block th:if="${oAuth2User != null}">
	            	<input type="hidden" id="registrationId" th:value="${oAuth2User.registrationId}">
		            <fieldset class="form-group id-check-box">
		              <label for="inputId" class="form-label mt-4">아이디</label>
		              <input type="text" class="form-control" id="userId" aria-describedby="emailHelp" th:value="${oAuth2User.userId}" readonly>
		            </fieldset>
		
		            <fieldset class="form-group has-success">
		              <label for="inputPwd" class="form-label mt-4">비밀번호</label>
		              <input type="password" class="form-control pw" id="pw2" th:value="${oAuth2User.pw}" readonly>
		            </fieldset>
		            
		            <fieldset class="form-group">
		              <label for="inputName" class="form-label mt-4">이름</label>
		              <input type="text" class="form-control" id="name" aria-describedby="emailHelp" th:value="${oAuth2User.name}" readonly>
		            </fieldset>
		            
		            <fieldset class="form-group bir_wrap">
		              <label class="form-label mt-4">생년월일</label>
		              <div class="bir_yy">
		                <span class="ps_box">
		                  <th:block th:if="${oAuth2User.birthYear != null}">
		                  	<input type="text" class="form-control" id="yy" th:value="${oAuth2User.birthYear}" readonly>
		                  </th:block>
		                  <th:block th:unless="${oAuth2User.birthYear != null}">
		                  	<input type="text" class="form-control" id="yy" placeholder="년(4자)" maxlength="4">
		                  </th:block>
		                </span>
		              </div>
		              <div class="bir_mm">
		                <span class="ps_box focus">
		                  <th:block th:if="${oAuth2User.birthMonth != null}">
		                  	<input type="text" class="form-control" id="mm" th:value="${oAuth2User.birthMonth}" readonly>
		                  </th:block>
		                  <th:block th:unless="${oAuth2User.birthMonth != null}">
			                  <select class="form-select form-control" id="mm" aria-label="Default select example">
			                    <option selected>월</option>
						        <th:block th:each="m : ${#numbers.sequence(1,12)}">
						        	<span th:text="${m}"></span>
			                    	<option th:value="${m}" th:text="${m}"></option>
						        </th:block>
			                  </select>
		                  </th:block>
		                </span>
		              </div>
		              <div class="bir_dd">
		                <span class="ps_box">
		                  <th:block th:if="${oAuth2User.birthDay != null}">
		                  	<input type="text" class="form-control" id="dd" th:value="${oAuth2User.birthDay}" readonly>
		                  </th:block>
		                  <th:block th:unless="${oAuth2User.birthDay != null}">
		                  	<input type="text" class="form-control" id="dd" placeholder="일" maxlength="2">
		                  </th:block>
		                </span>
		              </div>
		            </fieldset>
		            
		            <fieldset class="form-group verify-box">
		              <label for="exampleInputEmail1" class="form-label mt-4">휴대폰번호</label>
		              <th:block th:if="${oAuth2User.phoneNumber != null}">
		              	<input type="text" class="form-control" id="phoneNum" aria-describedby="emailHelp" th:value="${oAuth2User.phoneNumber}">
		              </th:block>
		              
		              <th:block th:unless="${oAuth2User.phoneNumber != null}">
		              	<input type="text" class="form-control" id="phoneNum" aria-describedby="emailHelp" placeholder="'-' 를 제외한 숫자만 입력해 주세요" maxlength="11">
		              </th:block>
		              
		              <button type="submit" class="btn btn-primary btn-verify">인증</button>
		            </fieldset>
		            
		            <fieldset class="form-group">
		              <label for="exampleSelect1" class="form-label mt-4">성별</label>
		              <th:block th:if="${oAuth2User.sex != null}">
		              	<input type="text" class="form-control" id="sex" aria-describedby="emailHelp" th:value="${oAuth2User.sex}" readonly>
		              </th:block>
		              <th:block th:unless="${oAuth2User.sex != null}">
			              <div class="check-box">
			                <div class="form-check form-check-inline">
			                  <input class="form-check-input" type="radio" name="sex" id="inlineRadio1" value="option1">
			                  <label class="form-check-label" for="inlineRadio1">남자</label>
			                </div>
			                <div class="form-check form-check-inline">
			                  <input class="form-check-input" type="radio" name="sex" id="inlineRadio2" value="option2">
			                  <label class="form-check-label" for="inlineRadio2">여자</label>
			                </div>
			              </div>
		              </th:block>
	            	</fieldset>
		        </th:block>
	          
	            <th:block th:unless="${oAuth2User != null}">
		            <fieldset class="form-group id-check-box">
		              <label for="inputId" class="form-label mt-4">아이디</label>
		              <input type="text" class="form-control" id="userId" name="userId" autofocus>
		              <input type="button" id="idCheck" class="btn btn-primary btn-verify" value="중복확인">
		              <div class="id_check textMsg"></div>
		            </fieldset>
	            
		            <fieldset class="form-group has-success">
		              <label for="inputPwd" class="form-label mt-4">비밀번호</label>
		              <input type="password" class="form-control pw" name="pw" id="pw1">
		              <div class="pw_check textMsg"></div>
		            </fieldset>
		            <fieldset class="form-group has-danger">
		              <label for="inputPwd2" class="form-label mt-4">비밀번호 재확인</label>
		              <input type="password" class="form-control pw" name="pw" id="pw2">
		              <div class="pw_valid textMsg"></div>
		            </fieldset>
		
		            <fieldset class="form-group">
		              <label for="inputName" class="form-label mt-4">이름</label>
		              <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
		              <div class="name_check textMsg"></div>
		            </fieldset>
		
		            <fieldset class="form-group bir_wrap">
		              <label class="form-label mt-4">생년월일</label>
		              <div class="bir_yy">
		                <span class="ps_box">
		                  <input type="text" class="form-control" id="yy" placeholder="년(4자)" maxlength="4">
		                </span>
		              </div>
		              <div class="bir_mm">
		                <span class="ps_box focus">
		                  <select class="form-select form-control" id="mm" aria-label="Default select example">
		                    <option selected>월</option>
		                    <option th:each="mm : ${#numbers.sequence(1,12)}" th:text="${mm}"></option>
		                  </select>
		                </span>
		              </div>
		              <div class="bir_dd">
		                <span class="ps_box">
		                  <input type="text" class="form-control" id="dd" placeholder="일" maxlength="2">
		                </span>
		              </div>
		              <div class="bd_check textMsg"></div>
		            </fieldset>
		
		            <fieldset class="form-group verify-box">
		              <label for="exampleInputEmail1" class="form-label mt-4">휴대폰번호</label>
		              <input type="text" class="form-control" id="phoneNum" aria-describedby="emailHelp" placeholder="'-' 를 제외한 숫자만 입력해 주세요" maxlength="11">
		              <button class="btn btn-primary btn-verify">인증</button>
		              <div class="ph_check textMsg"></div>
		            </fieldset>
		            
		            <fieldset class="form-group">
		              <label for="exampleSelect1" class="form-label mt-4">성별</label>
		              <div class="check-box">
		                <div class="form-check form-check-inline">
		                  <input class="form-check-input" type="radio" name="sex" id="male" value="남자">
		                  <label class="form-check-label" for="inlineRadio1">남자</label>
		                </div>
		                <div class="form-check form-check-inline">
		                  <input class="form-check-input" type="radio" name="sex" id="female" value="여자">
		                  <label class="form-check-label" for="inlineRadio2">여자</label>
		                </div>
		              </div>
		              <div class="sex_check textMsg"></div>
		            </fieldset>
	            </th:block>
	             
	          	<fieldset class="form-group">
	          		<div class="d-grid gap-2">
		                <input type="button" class="btn btn-primary next-btn" value="다음" onclick="saveUserInfo(); cheked();"></input>
					</div>
	          	</fieldset>
	        </div>
	      </div>
	    </section>
	</div>
	
	<th:block layout:fragment="script">
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
				$(document).ready(function() {
					$('#joinModal').modal({backdrop: 'static', keyboard: false});
					
					if(/*[[${existUser}]]*/ != null){			/** 기존 유저 **/
						$("#joinModal").modal("show");
						$("#existUser").show();
						$("#newUser").hide();
					} else if(/*[[${oAuth2User}]]*/ != null){	/** 새로운 유저 **/
						$("#joinModal").modal("hide");
					} else{										/** 조인폼 첫 접근 **/
						$("#joinModal").modal("show");
						$("#existUser").hide();
					}
				});
			
				function joinMethod(registrationId){
					if(registrationId == "main"){
						$("#joinModal").modal("hide");
					} else{
						location.replace("/user/join/" + registrationId + "/oAuth2.do");
					}
				}
				
				function closeModal(){
					$("#joinModal").modal("hide");
				}
			
				function saveUserInfo(){
					var userId = $("#userId").val();
					var pw = $("#pw2").val();
					var name = $("#name").val();
					var birthDate = $("#yy").val() + $("#mm").val() + $("#dd").val();
					var phoneNum = $("#phoneNum").val();
					var sex = $('input[type=radio][name=sex]:checked').val();
					if(sex == null){
						sex = $("#sex").val();
					}
					var registrationId = $("#registrationId").val();
					
					/** 유효성 검사 */
					if(userId == ""){
						alert("아이디를 입력해주세요.");
						return false;
					}
					var pw1 = $("#pw1").val();
					if(pw1 == ""){
						alert("비밀번호를 입력해주세요.");
						return false;
					}
			        var pwCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;
			        /*if(!pwCheck.test(pw1)){
						alert("비밀번호는 8~20자리 이내로 영문자+숫자+특수문자 조합으로 입력해주세요.");
						return false;
					}*/
					if($('#pw1').val() != $('#pw2').val()){
						alert("비밀번호가 일치하지 않습니다.");
						return false;
					}
					if(name == ""){
						alert("이름을 입력해주세요.");
						return false;
					}
					var reg = /^[0-9]+/g;
					var regPhone = /^01([0|1|6|7|8|9])-?([0-9]{3,4})-?([0-9]{4})$/;
					var yy = $("#yy").val();
					var dd = $("#dd").val();
					if(yy == ""){
						alert("연도를 입력해주세요.");
						return false;
					}
					if(!reg.test(yy && dd)){
						alert("날짜는 숫자만 입력할 수 있습니다.");
						return false;
					}
					if(dd == ""){
						alert("일자를 입력해주세요.");
						return false;
					}
					if(phoneNum == ""){
						alert("휴대폰번호를 입력해주세요.");
						return false;
					}
					if(!regPhone.test(phoneNum)){
						alert("휴대폰번호 형식이 아닙니다.");
						return false;
					}
					var male = $("#male").val();
					var female = $("#female").val();
					if(sex == null){
						alert("성별을 선택해주세요.");
						return false;
					}
					
					
					var data = {
						"userId": userId,
						"pw": pw,
						"name": name,
						"birthDate": birthDate,
						"phoneNumber": phoneNum,
						"sex": sex,
						"registrationId": registrationId
					}
					
					$.ajax({
						type : 'POST',
			            data : JSON.stringify(data),
			            url : "/user/saveUserInfo.do",
			            dataType : "json",
			            contentType: "application/json; charset=utf-8",
			            success : function(data){	            
			            	var form = document.createElement('form');
			            	form.setAttribute('method', 'post');
			            	form.setAttribute('action', '/user/joinForm2.do');
			            	document.charset = "utf-8";
							
			            	var hiddenField = document.createElement('input');
			            	hiddenField.setAttribute('type','hidden');
			            	hiddenField.setAttribute('name','userDTO');
			            	hiddenField.setAttribute('value',JSON.stringify(data.userDTO));
			            	
			            	form.appendChild(hiddenField);
			            	
			            	document.body.appendChild(form);
			            	form.submit();
			            },
						error : function(error) {
							console.error(error);
					    }
					});   
				}
				
				//idcheck 아이디 중복체크
			    $("#idCheck").click(function() {
			        var userId =  $("#userId").val();
			        
			        $.ajax({
			            type : 'GET',
			            data : {"userId" : userId},
			            url : "/user/idCheck.do",
			            dataType : "text",
			            success : function(data) {
			            	if (data == 1) {
			                	$('.id_check').text("사용중인 아이디입니다.");
			                	$('.id_check').css("color","red");
			                	$(".id_check").focus();
			                } else {
			                	$('.id_check').text("사용 가능한 아이디입니다.");
			                	$('.id_check').css("color","blue");
			                    $(".id_check").focus();
			                }
			            },
						error : function(error) {
							console.error(error);
					    }
			        });
			    });
				
				// 비밀번호 유효형 검사 keyup
			    $('#pw1').keyup(function(){
			    	let pw = $(".pw").val();
			        var reg = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,20}$/;
				        
			        if (!regPhone.test(phoneNum)) {
			            $('.pw_check').text("비밀번호는 8~20자리 이내로 영문자+숫자+특수문자 조합으로 입력해주세요.");
			            $('.pw_check').css('color', 'red');
			            return false;
			
			        }  else {
			            $('.pw_check').text("비밀번호가 정상적으로 입력되었습니다.");
			            $('.pw_check').css('color', 'blue');
			            return true;
			        }
				
			    });
				// 비밀번호 일치여부
				$('#pw2').keyup(function(){
					if( $('#pw1').val() != $('#pw2').val() ){
						$('.pw_valid').text('비밀번호가 일치하지 않습니다.');
						$('.pw_valid').css('color', 'red');
					} else{
						$('.pw_valid').text('비밀번호가 일치합니다.');
						$('.pw_valid').css('color', 'blue');
					}
				});
				
			/*]]*/
		</script>
 	</th:block>
</html>