<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layout/basic" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="content">
	<section id="list-page">
		<div class="container">

			<th:block layout:fragment="search">
				<div th:replace="fragments/common :: search_R">
				</div>
				<th:block sec:authorize="hasAnyRole('ROLE_MEMBER')">
					<div th:replace="fragments/common :: recipe_write">
					</div>
				</th:block>
			</th:block>

			<div class="container py-3">
				<div class="row">
					<div class="flex-shrink-0 p-3 bg-white" style="width: 200px; margin-top:45px;">
						<ul class="border-top"></ul>
						<ul class="list-unstyled ps-0">
							<li class="mb-1">
								<!-- 관리자 작성 레시피 -->
								<button class="dropdown-toggle" data-bs-toggle="collapse"
									data-bs-target="#manager-collapse" aria-expanded="false">
									추천 레시피
								</button>
								<div class="collapse" id="manager-collapse">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a th:href="@{/recipe/list.do}"
												class="link-dark d-inline-flex text-decoration-none rounded">모든
												레시피</a></li>
										<th:block th:if="${Disease_List != null}">
											<!-- 수정-->
											<th:block th:each="disease:${Disease_List}">
												<!--디지즈 리스트 담아서 뷰어에 뿌려주는 걸 토대로 쭉 리스트 나열 -->
												<li><a th:href="@{/recipe/list.do(diseaseField = ${disease.diseaseField})}"
														class="link-dark d-inline-flex text-decoration-none rounded"
														th:text="${disease.diseaseField}">디지즈필드</a></li>
											</th:block>
										</th:block>
									</ul>
								</div>
							</li>
							<li class="mb-1">
								<!-- 사용자 질병 관련 레시피 -->
								<button class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#h-collapse"
									aria-expanded="false">
									공유 레시피
								</button>
								<div class="collapse" id="h-collapse">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a th:href="@{/recipe/list.do(writer='writer')}"
												class="link-dark d-inline-flex text-decoration-none rounded">모든 레시피</a>
										</li>
										<th:block sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_ADMIN')">
											<li><a th:href="@{/recipe/list.do(writer=${#authentication.principal.userId})}"
													class="link-dark d-inline-flex text-decoration-none rounded">나의 작성
													레시피</a></li>
										</th:block>
									</ul>
								</div>
							</li>
							<!-- 로그인 세션이 있을 경우 표시-->
							<th:block sec:authorize="hasAnyRole('ROLE_MEMBER', 'ROLE_ADMIN')">
								<li class="mb-1">
									<!-- 사용자 질병 관련 레시피 -->
									<button class="dropdown-toggle" data-bs-toggle="collapse"
										data-bs-target="#userDiseases-collapse" aria-expanded="false">
										맞춤 레시피
									</button>
									<div class="collapse" id="userDiseases-collapse">
										<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
											<th:block th:if="${user_disease_list != null}">
												<th:block th:each="disease:${user_disease_list}">
													<li><a th:href="@{/recipe/list.do(diseaseField = ${disease.diseaseField}, diseaseName = ${disease.diseaseName})}"
															class="link-dark d-inline-flex text-decoration-none rounded"
															th:text="${disease.diseaseName}">
														</a>
													</li>
												</th:block>
											</th:block>
										</ul>
									</div>
								</li>
							</th:block>
						</ul>
					</div>
					<div class="col-lg-10 mx-auto">
						<section id="pricing" class="pricing" style="padding-bottom:0px;">
							<div class="container" data-aos="fade-up">
								<div class="row">
									<!-- 레시피 뿌려주는 곳 -->
									<!-- 컨트롤러에서 넘기는 객체이름:Recipe_List ← 버튼 눌렀을 때에 따라 넘기는 레시피가 다름-->
									<th:block th:if="${!#lists.isEmpty(Recipe_List)}">
										<th:block th:if="${not #strings.isEmpty(param.diseaseField)}">
											<th:block
												th:if="${#strings.isEmpty(param.diseaseName)}">
												<div th:with="diseaseField=${param.diseaseField}">
													<h4>이 리스트는 추천레시피: <span style="color: #87ceeb;"
															th:text="${diseaseField}"></span>에 대한 리스트입니다.</h2>
												</div>
											</th:block>
											<th:block
												th:if="${not #strings.isEmpty(param.diseaseName)}">
												<div th:with="diseaseName=${param.diseaseName}">
													<h4>이 리스트는 맞춤레시피: <span style="color: #87ceeb;"
															th:text="${diseaseName}"></span>에 대한 리스트입니다.</h2>
												</div>
											</th:block>
											<ul class="border-top"></ul>
										</th:block>
										
										<th:block th:each="Recipe : ${Recipe_List}">
											<div class="col-lg-4 col-md-6" data-aos-delay="100"
												style="margin-bottom:30px;">
												<div class="box" style="min-height:500px; max-height:500px;">
													<!-- 메뉴 이름 -->
													<h3 th:text="${Recipe.title}"></h3>
													<!-- 이미지 부분 -->
													<div style="padding:0px;">
														<img th:src="|@{/assets/img/recipeImages/}${Recipe.randomImgFile}|"
															style="width:230px; height:240px; margin: 19px;" onerror="this.src='/assets/img/drugimages/white.png'">
													</div>
													<!-- 버튼 부분 -->
													<div class="btn-wrap" style="background-color:#FFFFFF;">
														<th:block th:if="${params.writer == null}">
															<a th:href="@{/recipe/view.do(Recipe_No = ${Recipe.recipeNo}, prev = ${params.diseaseField})}"
														   	   class="btn-buy">자세히 보기
														   	</a>
														</th:block>
														<th:block th:if="${params.writer != null}">
															<a th:href="@{/recipe/view.do(Recipe_No = ${Recipe.recipeNo}, prev = 'writer')}"
														   	   class="btn-buy">자세히 보기
														   	</a>
														</th:block>
													</div>
												</div>
											</div>
										</th:block> <!-- div th each-->
									</th:block>
									<ul class="list-group shadow">
										<li class="list-group-item" th:if="${#lists.isEmpty(Recipe_List)}">
											조회된 리스트가 없습니다.
										</li>
									</ul>
								</div>
								<!--row -->
							</div>
						</section><!-- End Pricing Section -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="paging">
		<nav th:replace="fragments/common :: recipePagination"></nav>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/

			function movePage(uri, queryString, diseaseField, writer, diseaseName) {
				var url = uri + queryString;

				if (writer != null)
					url += "&writer=" + writer;

				if (diseaseField != null)
					url += "&diseaseField=" + diseaseField;
				
				if (diseaseName != null)
					url += "&diseaseName=" + diseaseName;	

				location.href = url;
			}

			/*]]>*/
		</script>
	</th:block>

</div>

</html>