<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/basic">
		
	<div layout:fragment="content">
		<section id="list-page">
     	 <div class="container">
			<div class="sub-search-box" >
	           	<input class="search-form" id="sub-searchForm" type="text" placeholder="메뉴"/>
	           	<button type="submit" class="btn btn-primary">검색</button>
	           	<form method="get" action="/recipe/writeForm">
	           		<button type="submit" class="btn btn-primary btn-write">레시피 작성</button>
	           	</form>
	       	</div>
	
			<div class="container py-3">
				<div class="row">
					<div class="flex-shrink-0 p-3 bg-white" style="width: 200px; margin-top:45px;">
		     	 		<ul class="border-top"></ul>
			   				<ul class="list-unstyled ps-0">
		     					<li class="mb-1">
			     					<!-- 관리자 작성 레시피 -->
		        					<button class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#manager-collapse" aria-expanded="false">
		          						추천 레시피
		        					</button>
			       				 	<div class="collapse" id="manager-collapse">
							          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">모든 레시피</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">눈</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">심장</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">간</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">폐</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">비뇨기계</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">심혈관</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">갑상샘</a></li>
							          </ul>
							        </div>
		     					</li>
		     					<li class="mb-1">
		     						<!-- 사용자 작성 레시피 -->
			       					<form method="get" action="/recipe/list">
				       					<button class="dropdown-none-toggle" type="submit">
				         						공유 레시피
				       					</button>
			       					</form>
		     					</li>
		     					<li class="mb-1">
		     						<!-- 사용자 질병 관련 레시피 -->
		       						<button class="dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#userDiseases-collapse" aria-expanded="false">
		         							맞춤 레시피
		       						</button>
			       				 	<div class="collapse" id="userDiseases-collapse">
							          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">내 질병1</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">내 질병2</a></li>
							            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">내 질병3</a></li>
							          </ul>
							        </div>
		     					</li>
			   				</ul>
		 			</div>
			
			        <div class="col-lg-10 mx-auto">
					    <section id="pricing" class="pricing" style="padding-bottom:0px;">
					      <div class="container" data-aos="fade-up">
					        <div class="row">
					
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴1</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/team/team-2.jpg" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
					
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴2</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/team/team-2.jpg" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
					          
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴3</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/clients/client-6.png" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
					
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴4</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/portfolio/portfolio-details-1.jpg" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
						          
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴5</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/team/team-1.jpg" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
						          
					          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100" style="margin-bottom:30px;">
					            <div class="box">
					              <h3>메뉴6</h3>
					              <!-- 이미지 부분 -->
					              <div style="padding:0px;">
					              	<img src="/assets/img/team/team-1.jpg" style="width:230px; height:240px; margin: 19px;">
					              </div>
					              <div class="btn-wrap" style="background-color:#FFFFFF;">
					                <a href="#" class="btn-buy">자세히 보기</a>
					              </div>
					            </div>
					          </div>
					      </div>
					      </div>
					    </section><!-- End Pricing Section -->
			    	</div>
				</div>
		   </div>
     	 </div>
		</section>
	
	   <th:block layout:fragment="paging">
			<div th:replace="/fragments/common :: pagination"></div>
	   </th:block>
	</div>
</html>