<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="/layout/basic">

<div layout:fragment="content">
	<section id="list-page">
		<div class="container">

			<th:block layout:fragment="search">
				<div th:replace="fragments/common :: search_R">
				</div>
				<div th:replace="fragments/common :: recipe_write">
				</div>
			</th:block>

			<div class="container py-3">
				<div class="row">
					<div class="flex-shrink-0 p-3 bg-white" style="width: 200px; margin-top:45px;">
						<ul class="border-top"></ul>
						<ul class="list-unstyled ps-0">
							<li class="mb-1">
								<!-- 관리자 작성 레시피 -->
								<button class="dropdown-toggle" data-bs-toggle="collapse"
									data-bs-target="#manager-collapse" aria-expanded="false">
									추천 레시피
								</button>
								<div class="collapse" id="manager-collapse">
									<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
										<li><a th:href="@{/recipe/list}"
												class="link-dark d-inline-flex text-decoration-none rounded">모든
												레시피</a></li>
										<th:block th:if="${Disease_List != null}">
											<th:block th:each="disease:${Disease_List}">
												<!--디지즈 리스트 담아서 뷰어에 뿌려주는 걸 토대로 쭉 리스트 나열 -->
												<li><a th:href="@{/recipe/list(diseaseField = ${disease.diseaseField})}"
														class="link-dark d-inline-flex text-decoration-none rounded"
														th:text="${disease.diseaseField}">디지즈네임</a></li>
											</th:block>
										</th:block>
									</ul>
								</div>
							</li>
							<li class="mb-1">
								<!-- 사용자 작성 레시피 -->
								<form method="get" action="/recipe/list">
									<button class="dropdown-none-toggle" type="submit" name="writer" value="writer">
										공유 레시피
									</button>
								</form>
							</li>
							<!-- 로그인 세션이 있을 경우 표시-->
							<th:block th:if="${authUser != null}">
								<li class="mb-1">
									<!-- 사용자 질병 관련 레시피 -->
									<button class="dropdown-toggle" data-bs-toggle="collapse"
										data-bs-target="#userDiseases-collapse" aria-expanded="false">
										맞춤 레시피
									</button>
									<div class="collapse" id="userDiseases-collapse">
										<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
											<li><a href="#"
													class="link-dark d-inline-flex text-decoration-none rounded">내
													질병1</a></li>
											<li><a href="#"
													class="link-dark d-inline-flex text-decoration-none rounded">내
													질병2</a></li>
											<li><a href="#"
													class="link-dark d-inline-flex text-decoration-none rounded">내
													질병3</a></li>
										</ul>
									</div>
								</li>
							</th:block>
						</ul>
					</div>
					<div class="col-lg-10 mx-auto">
						<section id="pricing" class="pricing" style="padding-bottom:0px;">
							<div class="container" data-aos="fade-up">
								<div class="row">
									<!-- 레시피 뿌려주는 곳 -->
									<!-- 컨트롤러에서 넘기는 객체이름:Recipe_List ← 버튼 눌렀을 때에 따라 넘기는 레시피가 다름-->
									<th:block th:if="${Recipe_List != null}">
										<th:block th:each="Recipe : ${Recipe_List}">
											<div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100"
												style="margin-bottom:30px;">
												<div class="box">
													<!-- 메뉴 이름 -->
													<h3 th:text="${Recipe.title}"></h3>
													<!-- 이미지 부분 -->
													<div style="padding:0px;">
														<img th:src="|@{/assets/img/recipeimages/}${Recipe.randomImgFile}|"
															style="width:230px; height:240px; margin: 19px;">
													</div>
													<!-- 버튼 부분 -->
													<div class="btn-wrap" style="background-color:#FFFFFF;">
														<a th:href="@{/recipe/view(Recipe_No = ${Recipe.recipeNo})}"
															class="btn-buy">자세히 보기</a>
													</div>
												</div>
											</div>
										</th:block> <!-- div th each-->
									</th:block>
								</div>
								<!--row -->
							</div>
						</section><!-- End Pricing Section -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<th:block layout:fragment="paging">
		<nav th:replace="fragments/common :: recipePagination"></nav>
	</th:block>
	<th:block layout:fragment="script">
		<script th:inline="javascript">
			/*<![CDATA[*/
	
			function movePage(uri, queryString, diseaseField, writer) {
				var url = uri + queryString;
				
				if(writer != null)
					url += "&writer=" + writer;
					
				if(diseaseField !=null)
					url += "&diseaseField=" +diseaseField;
					
				location.href = url;					
			}

			/*]]>*/
		</script>
	</th:block>

</div>

</html>