<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fdproject.mapper.RecipeMapper">

	<sql id="recipeColumns">
		recipe_No,
		disease_Field,
		title,
		writer,
		food_Ingredients,
		step,
		img_File,
		reg_Date,
		hit,
		recommended_Number,
		delete_Yn
	</sql> 
	
	<select id ="selectRecipeList" resultType="RecipeDTO">
		SELECT 
			<include refid="recipeColumns" />							
		FROM recipes				
	</select>
	
	<select id ="selectRecipeListByDiseaseField" parameterType = "String" resultType="RecipeDTO">
		SELECT 
			<include refid="recipeColumns" />							
		FROM recipes
		
		WHERE disease_field = #{disease_Field}				
	</select>
	
	 <select id = "selectRecipeInfo" parameterType = "String" resultType = "RecipeDTO">
	 	SELECT
	 		<include refid="recipeColumns" />
	 	FROM recipes
	 	
	 	WHERE Recipe_no = #{Recipe_no}	 	
	</select>
	
	<select id = "UpdateUphit" parameterType = "String" resultType = "Integer">
		UPDATE recipes	 		
		
	 	SET hit = hit + 1    
	 	
	 	WHERE Recipe_no = #{Recipe_no}
			
	</select>
</mapper>