<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

	<div class="header" th:fragment="header">
		<!-- ======= Top Bar ======= -->
	  	<section id="topbar" class="d-flex align-items-center">
	    	<div class="container d-flex justify-content-center justify-content-md-between">
	     	 <div class="contact-info d-flex align-items-center">
	        	<i class="bi bi-envelope d-flex align-items-center"><a href="mailto:contact@example.com">fdprojectemail@gmail.com</a></i>
	     	 </div>
	    	</div>
	  	</section>
	  		
		<!-- ======= Header ======= -->
	    <header id="header" class="d-flex align-items-center">
	        <div class="container d-flex align-items-center justify-content-between">
	            <h1 class="logo">
	            	<a href="/" style="font-family: 'headerFont';">
			          <img src="/assets/img/main-logo.png" class="img-fluid" alt="mainlogo">아프면찾아조<span>.</span>
			        </a>
			    </h1>
			    
	            <nav id="navbar" class="navbar">
		            <th:block sec:authorize="hasAnyRole('ROLE_MEMBER')">
			    		<h6 style="margin-top:12px;"><span style="font-weight: bold;" th:text="${#authentication.principal.name}"></span>님 안녕하세요.</h6>
		            </th:block>
		            
	                <ul>
 	                    <!-- 로그아웃 상태-->
 	                    <th:block sec:authorize="isAnonymous() || hasRole('ROLE_USER')">
		                    <li><a class="nav-link scrollto" href="/user/loginForm.do">로그인</a></li>
		                 	<li><a class="nav-link scrollto" href="/user/joinForm.do">회원가입</a></li>
	                 	</th:block>
	                 	
	                    <!-- 로그인 상태-->
 	                    <th:block sec:authorize="hasAnyRole('ROLE_MEMBER','ROLE_ADMIN')">
		                    <li><a class="nav-link scrollto" href="/user/logout.do">로그아웃</a></li>
						</th:block>
 	                    <th:block sec:authorize="hasRole('ROLE_MEMBER')">            
							<li class="dropdown"><a href="#"><span>마이페이지</span> <i class="bi bi-chevron-down"></i></a>
		                        <ul>
		                            <li><a th:href="@{/mypage/user.do}">회원 정보 수정</a></li>
		                            <li><a th:href="@{/mypage/drug.do}">약 관리</a></li>
		                            <li><a th:href="@{/mypage/disease.do}">질병 관리</a></li>
		                            <li><a th:href="@{/mypage/myDrug.do}">찜 리스트</a></li>
		                        </ul>
		                    </li>
	                 	</th:block>
	                    
	                    <th:block sec:authorize="hasRole('ROLE_ADMIN')">            
							<li class="dropdown"><a href="#"><span>관리페이지</span> <i class="bi bi-chevron-down"></i></a>
		                        <ul>
		                            <li><a th:href="@{/admin/management/userList.do}">회원</a></li>
		                            <li><a th:href="@{/admin/management/recipeList.do}">레시피</a></li>
		                        </ul>
		                    </li>
	                 	</th:block>
	                 	
	                	<li class="dropdown"><a href="#"><span>메뉴</span> <i class="bi bi-chevron-down"></i></a>
	                        <ul>
	                           <li><a th:href="@{/drug/list.do}">약</a></li>
			                   <li><a th:href="@{/recipe/list.do}">레시피</a></li>
			                   <li><a th:href="@{/drug/store.do}">상비약 리스트</a></li>
			                   <li><a th:href="@{/drug/pharmacy.do}">내 주변 약국</a></li>
	                        </ul>
	                    </li>
	                    
	                </ul>
	                <i class="bi bi-list mobile-nav-toggle"></i>
	            </nav><!-- .navbar -->
	        </div>
	    </header><!-- End Header -->
	</div>
</html>